server:
  port: 9009
spring:
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  datasource:
    url: jdbc:mysql://${MYSQL_IP:localhost}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:ddd_hcms}
    username: ${MYSQL_USERNAME:feiniaojin}
    password: ${MYSQL_PASSWORD:hcms}
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 4
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: DatebookHikariCP
      max-lifetime: 1800000
      connection-timeout: 10000
  web:
    resources:
      static-locations: classpath:/static/,classpath:/views/
graceful-response:
  i18n: false
  print-exception-in-global-advice: true
  response-style: 1
  exclude-return-types: org.springframework.boot.actuate.endpoint.OperationResponseBodyMap

# 开启健康检查
management:
  # 自定义管理服务地址和端口，默认和应用程序地址端口一致
#  server:
#    port: 9010
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        # 开启端点，*表示开启所有
        include:
          - prometheus
  metrics:
    # 指标采集标签名
    tags:
      application: ${spring.application.name}
  # 启用对接prometheus服务采集指标数据
  prometheus:
    metrics:
      export:
        enabled: true
